<%@ Master Language="C#" AutoEventWireup="true" CodeFile="user master page.master.cs" Inherits="user_master_page" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>user  master page</title>

    <style>
        .row {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .lblname {
            font-size: 1.3em;
            color: #d41c1c;
            padding: 11px;
            transition: background-color 2s;
            border-bottom-left-radius: 25px;
            border-top-right-radius: 26px;
            transition-timing-function: ease-out;
        }

            .lblname:hover {
                background-color: blue;
                border-bottom-left-radius: 25px;
                border-top-right-radius: 26px;
                color: white;
            }
    </style>

    <link href="user_master%20style.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link href="css/media_query.css" rel="stylesheet" />
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modernizr.custom.js"></script>

    <script type="text/javascript">
        function ToggleDiv1() {
            document.getElementById('normaluser').style.display = 'none';
        }

        function ToggleDiv2() {
            document.getElementById('loginuser').style.display = 'none';
        }
    </script>

    <script type="text/javascript">
        function fnOnUpdateValidators() {
            if (typeof (Page_Validators) != "undefined") {
                for (var i = 0; i < Page_Validators.length; i++) {
                    var val = Page_Validators[i];
                    var ctrl = document.getElementById(val.controltovalidate);
                    if (ctrl != null && ctrl.style != null) {
                        if (!val.isvalid) {
                            ctrl.style.background = "";
                            ctrl.style.border = "2px solid red";
                        }
                        else
                            ctrl.style.background = "white";
                    }
                }
            }
        }
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>

        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
                <div class="row" style="background-color: #343131; color: white; padding: 5px">
                    <div id="google_translate_element" class="pull-right" style="padding-right: 30px;"></div>
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
                        }
                    </script>
                    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

                </div>
                <nav class="navbar navbar-inverse  cl-effect-2">
                    <div class="navbar-header">
                        <!--header start-->
                        <button type="button" data-toggle="collapse" class="navbar-toggle" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class=" navbar-brand" href="userpage_main1.aspx">
                            <asp:Image ID="imglogo" runat="server" ImageUrl="~/image/Logo.jpg" CssClass="img-responsive logosize" />
                        </a>
                    </div>
                    <!--header end-->
                    <div id="demo" class="collapse navbar-collapse position11">
                        <ul class="nav navbar-nav navul ">
                            <li><a href="userpage_main1.aspx"><span data-hover="Home">Home</span></a></li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span data-hover="Plant">Plant  <i class="caret"></i></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="indoorplant.aspx">Indoor Plant</a></li>
                                    <li><a href="outdoorplant.aspx">OutDoor Plant</a></li>
                                    <li><a href="bamboosplant.aspx">Bamboos Plant</a></li>
                                    <li><a href="tinyplant.aspx">Tiny Plant</a></li>
                                </ul>

                                <li><a href="pot.aspx"><span data-hover="Pot">Pot</span></a></li>
                                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span data-hover="Seeds">Seeds  <i class="caret"></i></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="VegetableSeeds.aspx">Vegetable Seeds</a></li>
                                        <li><a href="FlowerSeed.aspx">Flower Seeds</a></li>
                                        <li><a href="TreeSeed.aspx">Tree Seeds</a></li>
                                    </ul>

                                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span data-hover="Bonsai care">Bonsai Care<i class="caret"></i></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="pebbles.aspx">Pebbles</a></li>
                                            <li><a href="fertilizer.aspx">Fertilizers</a></li>


                                        </ul>
                        </ul>

                        <%--<ul id="normaluser" class="nav navbar-nav pull-right navul">
                            <li class="dropdown"><a class="dropdown-toggle " data-hover="dropdown" data-toggle="dropdown" href="#"><span data-hover="Log IN" style="color: white">Log-In<img alt="userlogin" src="image/userlogin.svg" class="imgsize img-circle" /></span></a>
                                <ul class="dropdown-menu dropdown-menu-right text-center" style="background-color: limegreen; background-image: none">
                                    <li><a href="login_page.aspx"><span data-hover="log in">log In</span></a></li>
                                    <li>
                                        <div class="divider"></div>
                                    </li>
                                    <li>
                                        <asp:LinkButton ID="LinkButton1" runat="server" CssClass="btn btn-primary" OnClick="LinkButton1_Click"><i class="glyphicon glyphicon-user"></i> Sign Up</asp:LinkButton></li>
                                </ul>
                            </li>
                        </ul>--%>
                        <asp:Panel ID="pannormal" runat="server" Visible="false">
                            <ul id="normaluser" class="nav navbar-nav pull-right navul">
                                <li class="dropdown"><a class="dropdown-toggle " data-hover="dropdown" data-toggle="dropdown" href="#"><span data-hover="Log IN" style="color: white">Log-In<img alt="userlogin" src="image/userlogin.svg" class="imgsize img-circle" /></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right text-center" style="background-color: limegreen; background-image: none">
                                        <li><a href="login_page.aspx"><span data-hover="log in">log In</span></a></li>
                                        <li>
                                            <div class="divider"></div>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="LinkButton1" runat="server" CssClass="btn btn-primary" OnClick="LinkButton1_Click"><i class="glyphicon glyphicon-user"></i> Sign Up</asp:LinkButton></li>
                                    </ul>
                                </li>
                            </ul>
                        </asp:Panel>

                        <!--Login user menu div -->
                        <%--  <ul id="loginuser" class="nav navbar-nav pull-right navul">
                            <li class="dropdown"><a class="dropdown-toggle " data-hover="dropdown" data-toggle="dropdown" href="#"><div class="lblname"><asp:Literal ID="lblusername" runat="server" Text="shubham"></asp:Literal></div></a>
                                <ul class="dropdown-menu dropdown-menu-right text-center" style="background-color: limegreen; background-image: none">
                                    <li><a href="#">My Order</a></li>
                                    <li><a href="#">Oder Histroy</a></li>
                                    <li><a href="#">My wishlist</a></li>
                                    <li><a href="#">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>--%>
                        <asp:Panel ID="panlog" runat="server" Visible="false">
                            <ul id="loginuser" class="nav navbar-nav pull-right navul">
                                <li class="dropdown"><a class="dropdown-toggle " data-hover="dropdown" data-toggle="dropdown" href="#">
                                    <div class="lblname">
                                        <asp:Literal ID="lblusername" runat="server" Text="shubham"></asp:Literal></div>
                                </a>
                                    <ul class="dropdown-menu dropdown-menu-right text-center" style="background-color: limegreen; background-image: none">
                                        <li><a href="myorderview.aspx">My Order</a></li>
                                        <li><a href="newcart.aspx">Your Cart</a></li>
                                        <li><a href="Advetisementpage.aspx">Post Free Advetisement</a></li>
                                        <li><a>
                                            <asp:Button ID="btnlogout" runat="server" OnClick="btnlogout_Click" Text="LogOut" CssClass="btn btn-primary btn-sm" /></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </asp:Panel>
                        <!--Login user menu duv end-->
                    </div>
                </nav>

                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>

                <footer id="myFooter">
                    <div class="container">
                        <div class="row ">
                            <!--row start-->

                            <div id="one" class="col-md-3 col-xs-6 text-center">
                                <a href="#">
                                    <asp:Image ID="imgfootlogo" runat="server" ImageUrl="~/image/Logo.jpg" CssClass="img-responsive img-thumbnail img-circle footlogo" />
                                </a>
                            </div>
                            <div id="two" class="col-md-2 col-xs-6  text-center">
                                <h5>Get started</h5>
                                <ul>
                                    <li><a href="userpage_main1.aspx">Home</a></li>
                                    <li><a href="signUp_page.aspx">Sign up</a></li>
                                    <li><a href="login_page.aspx">log In</a></li>
                                </ul>

                            </div>
                            <div id="three" class="col-md-2 col-xs-6 text-center">
                                <h5>About us</h5>
                                <ul>
                                    <li><a href="company_information_page.aspx">Company Information</a></li>
                                    <li><a href="contact _us_page.aspx">Contact us</a></li>
                                    <li><a href="#">Reviews</a></li>
                                </ul>

                            </div>
                            <div id="four" class="col-md-2 col-xs-6 text-center">
                                <h5>Support</h5>
                                <ul>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Help desk</a></li>
                                    <li><a href="#">Forums</a></li>
                                </ul>

                            </div>
                            <div id="five" class="col-md-3 col-xs-12 text-center">
                                <div class="social-networks">
                                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                 <a class="btn btn-primary" href="contact _us_page.aspx">Contact Us</a>

                            </div>
                        </div>
                        <!--row end-->
                    </div>
                    <div class="footer-copyright">
                        <p>Â© 2017 Copyright Text </p>
                    </div>
                </footer>

                

            </ContentTemplate>
        </asp:UpdatePanel>



    </form>
</body>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
    window.sr = ScrollReveal();


    sr.reveal('.navbar-brand', {
        origin: 'bottom',
        // Can be any valid CSS distance, e.g. '5rem', '10%', '20vw', etc.
        //distance: '20px',
        // Time in milliseconds.
        duration: 3000,
        //delay: 0,
    });
    sr.reveal('#google_translate_element', {
        origin: 'left',
        distance: '200px',
        duration: 3000,
    });

    sr.reveal('#one', {
        duration: 2000,
        rotate: { x: 0, y: 10, z: 90 },
        origin: 'left',
        distance: '100px',

    });
    sr.reveal('#two', {
        duration: 2000,
        origin: 'top',
        distance: '100px',
    });
    sr.reveal('#three', {
        duration: 2000,
        origin: 'bottom',
        distance: '50px',
    });
    sr.reveal('#four', {
        duration: 2000,
        origin: 'top',
        distance: '100px',
    });
    sr.reveal('#five', {
        duration: 2000,
        rotate: { x: 900, y: 10, z: 0 },
        origin: 'top',
        distance: '100px',
    });
</script>
</html>
